@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Unbounded:wght@200..900&display=swap");

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: linear-gradient(180deg, #eceaff 0%, #a58ffe 100%);

  color: rgba(37, 37, 37, 1);
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  height: auto;
}

.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.button:hover {
  scale: 120%;
}

.sipher-header.is-open .sipher-header-background {
  left: 0;
}
.sipher-header-button-wrapper {
  margin-left: auto;
}
.sipher-header-icon {
  display: none;
}

.sipher-header-icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
.sipher-navigation-list.is-open {
  right: 0;
}
.sipher-header-icon-menu {
  display: block;
}

.sipher-header-icon-button.is-open .sipher-header-icon-menu {
  display: none;
}

.sipher-header-icon-button.is-open .sipher-header-icon-close {
  display: block;
}

.sipher-header {
  position: fixed;
  width: 100%;
  z-index: 5;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
  height: 80px;
  background: rgba(124, 0, 255, 1);
}

.sipher-header-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  z-index: -1;
  transition: left 0.3s ease;
  background: rgba(124, 0, 255, 1);
}
.sipher-header.is-open .sipher-header-background {
  left: 0;
}
.sipher-header-button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sipher-header-icon-menu {
  display: block;
}

.sipher-header-icon-button.is-open .sipher-header-icon-menu {
  display: none;
}

.sipher-header-icon-button.is-open .sipher-header-icon-close {
  display: block;
}

.sipher-navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 20px 16px;
  position: relative;
}

.sipher-navigation-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 500px;
  transition: 0.3s;
  z-index: 999;
  padding: 70px 32px;
  gap: 28px;
  background: rgba(11, 11, 11, 1);
}

.sipher-navigation-list.is-open {
  right: 0;
}

.sipher-navigation-link {
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: rgba(246, 242, 242, 1);
  font-family: Unbounded;
  font-weight: 900;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0%;
}

.sipher-navigation-link:hover,
.sipher-navigatioт-link:focus {
  color: rgba(255, 247, 45, 1);
}

.sipher-header.is-open {
  background-color: transparent;
}

.sipher-navigation-img {
  display: none;
}

@media screen and (min-width: 1200px) {
  .sipher-navigation-img {
    display: flex;
    margin-right: 300px;
  }
  .sipher-policy-terms-header-icon-menu {
    display: none;
  }

  .sipher-header {
    width: 100%;
    height: 80px;
    padding: 10px 0px 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }

  .sipher-header-background {
  }
  .sipher-header-icon-button {
    display: none;
  }
  .sipher-navigation {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 0;
    width: 1440px;
    margin: auto;
  }

  .sipher-navigation-list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;
    padding-block: 0;
    flex: 1;
    gap: 28px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
  }

  .sipher-navigation-link {
    font-family: Dosis;
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;

    text-decoration: none;
  }

  .sipher-navigation-item-desk {
    display: none;
  }
}
.sipher-home {
  width: 375px;
  height: 812px;
  padding: 146px 16px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/home/Hero.png");
  margin: auto;
}

.sipher-home-container-top {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.sipher-home-title-img {
  width: 202px;
  height: 60px;
}
.sipher-home-title {
  font-family: Unbounded;
  font-weight: 900;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0%;
  color: rgba(255, 255, 255, 1);
  padding: 253px 0 31px;
}

.sipher-home-text {
  font-family: Dosis;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  letter-spacing: 0%;
  color: rgba(255, 255, 255, 1);
}

.sipher-home-google-button-image {
  width: 256px;
  height: 64px;
}
.sipher-home-google-button-link {
  margin: auto;
  margin-top: 40px;
}
.sipher-home-google-button-link:hover .sipher-home-google-button-image {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

@media screen and (min-width: 1200px) {
  .sipher-home {
    width: 1440px;
    height: 759px;
    padding: 160px 736px 0px 160px;
    background-image: url("/img/home/Hero\ \(1\).png");
  }

  .sipher-home-title-img {
    content: url("/img/home/logo\ 1.png");
    width: 352px;
    height: 104px;
  }

  .sipher-home-title {
    font-family: Unbounded;
    font-weight: 900;
    font-size: 36px;
    line-height: 120%;
    letter-spacing: 0%;

    color: rgba(124, 0, 255, 1);
    padding: 20px 0 40px;
  }

  .sipher-home-text {
    font-family: Dosis;
    font-weight: 700;
    font-size: 26px;
    line-height: 130%;
    letter-spacing: 0%;

    color: rgba(37, 37, 37, 1);
  }

  .sipher-home-google-button-image {
    width: 256px;
    height: 64px;
  }
  .sipher-home-google-button-link {
    margin: 0;
    margin-top: 80px;
  }
}
.sipher-why {
  width: 375px;
  height: 781px;
  margin: auto;
  padding: 48px 16px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Game\ Atmosphere.png");
}

.sipher-why-text {
  font-family: Dosis;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  padding: 54px 0 0;
}

@media screen and (min-width: 1200px) {
  .sipher-why {
    width: 1440px;
    height: 663px;
    padding: 90px 160px 0;
    background-image: url("/img/Game\ Atmosphere\ \(1\).png");
  }
  .sipher-why-text {
    font-family: Dosis;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
    width: 544px;
    padding-top: 47px;
    margin-left: 581px;
  }
}

.sipher-uniqueness {
  width: 375px;
  height: 629px;
  margin: auto;
  padding: 40px 16px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/CTA.png");
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.sipher-uniqueness-text-bold {
  font-family: Unbounded;
  font-weight: 900;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(255, 193, 6, 1);
}

.sipher-uniqueness-item {
  font-family: Dosis;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}
.sipher-uniqueness-link {
  margin: 0;
}
@media screen and (min-width: 1200px) {
  .sipher-uniqueness {
    width: 1440px;
    height: 846px;
    padding: 80px 0px 0;
    background-image: url("/img/CTA\ \(1\).png");
    gap: 0;
  }
  .sipher-uniqueness-text-bold {
    font-family: Unbounded;
    font-weight: 900;
    font-size: 36px;
    line-height: 120%;
    letter-spacing: 0%;
    padding-bottom: 18px;
  }

  .sipher-uniqueness-item {
    font-family: Dosis;
    font-weight: 700;
    font-size: 26px;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: center;
    padding-top: 22px;
  }
  .sipher-uniqueness-link {
    margin: 0;
    margin-top: 80px;
  }
}
.sipher-about {
  padding: 73px 16px 0px;
  margin: auto;
  width: 375px;
  height: 1224px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/About\ the\ Game.png");
}

.sipher-about-title {
  font-family: Unbounded;
  font-weight: 900;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
  padding: 0 156px 0 16px;
}
.sipher-about-text-bold {
  font-family: Dosis;
  font-weight: 400;
  font-size: 12px;
  line-height: 130%;
  letter-spacing: 0%;
  color: rgba(124, 0, 255, 1);
  padding: 22px 0 0 50px;
}
.sipher-about-text {
  font-family: Unbounded;
  font-weight: 900;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0%;
  padding: 38px 0 0 0px;
}
.sipher-about-text-two {
  font-family: Dosis;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
}
.sipher-about-list {
  padding-top: 56px;
  gap: 56px;
  display: flex;
  flex-direction: column;
  font-family: Dosis;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
}
.sipher-about-list-text-bold {
  font-family: Unbounded;
  font-weight: 900;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0%;
  padding-bottom: 4px;
}
.sipher-about-list-two {
  list-style-type: disc;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding-top: 4px;
}
@media screen and (min-width: 1200px) {
  .sipher-about {
    padding: 90px 736px 0 160px;
    width: 1440px;
    height: 832px;
    background-image: url("/img/About\ the\ Game\ \(1\).png");
  }
  .sipher-about-title {
    font-family: Unbounded;
    font-weight: 900;
    font-size: 36px;
    line-height: 120%;
    letter-spacing: 0%;

    padding: 0px;
  }
  .sipher-about-text-bold {
    font-family: Dosis;
    font-weight: 400;
    font-size: 15px;
    line-height: 130%;
    letter-spacing: 0%;

    padding: 24px 0 0 10px;
  }
  .sipher-about-text {
    font-family: Unbounded;
    font-weight: 900;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0%;

    padding: 47px 0 0 0px;
  }
  .sipher-about-text-two {
    font-family: Dosis;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
  }
  .sipher-about-list {
    padding-top: 48px;
    gap: 48px;
    font-family: Dosis;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
  }
  .sipher-about-list-text-bold {
    font-family: Unbounded;
    font-weight: 900;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0%;

    padding-bottom: 16px;
  }
  .sipher-about-list-two {
    list-style-type: disc;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding-top: 0px;
  }
}
.sipher-how {
  width: 375px;
  height: 780px;
  margin: auto;
  padding: 48px 16px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/How\ to\ Play.png");
}
.sipher-how-text {
  font-family: Dosis;
  font-weight: 400;
  font-size: 12px;
  line-height: 130%;
  letter-spacing: 0%;
  color: rgba(124, 0, 255, 1);
  padding: 22px 0 0 50px;
}
.sipher-how-list {
  padding-top: 38px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-family: Dosis;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  color: rgba(255, 255, 255, 1);
}

.sipher-how-text-bold {
  font-family: Unbounded;
  font-weight: 900;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0%;
  color: rgba(160, 70, 255, 1);
  padding-bottom: 4px;
}

@media screen and (min-width: 1200px) {
  .sipher-how {
    width: 1440px;
    height: 661px;
    padding: 90px 160px 0px;
    background-image: url("/img/How\ to\ Play\ \(1\).png");
  }
  .sipher-how-text {
    font-family: Dosis;
    font-weight: 400;
    font-size: 15px;
    line-height: 130%;
    letter-spacing: 0%;

    padding: 24px 0 0 10px;
  }
  .sipher-how-list {
    padding-top: 47px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-family: Dosis;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .sipher-how-text-bold {
    font-family: Unbounded;
    font-weight: 900;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0%;

    padding-bottom: 8px;
  }
}

.sipher-reviews {
  width: 375px;
  height: 804px;
  margin: auto;
  padding: 48px 16px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-image: url("/img/reviews/Reviews.png");
}

.sipher-reviews-list {
  padding-top: 48px;
}

.sipher-reviews-item {
  margin: 0 5px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/reviews/Review\ card\ \(1\).png");
  width: 327px;
  height: 105px;
  display: flex;
  gap: 25px;
  padding-left: 8px;
  align-items: center;
}

.sipher-reviews-text-bold {
  font-family: Unbounded;
  font-weight: 900;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0%;
  color: rgba(160, 70, 255, 1);
  padding-bottom: 11px;
}

.sipher-reviews-text {
  font-family: Dosis;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  height: 72px;
  color: rgba(255, 255, 255, 1);
}

.sipher-gallery-button-container {
  display: none;
}

@media screen and (min-width: 1200px) {
  .sipher-gallery-button-container {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 40px;
  }

  .sipher-gallery-button {
    background-color: transparent;
    border: none;
    padding: 0;
    -webkit-transition: scale 0.3s ease;
    transition: scale 0.3s ease;
  }

  .sipher-gallery-button:hover {
    scale: 120%;
  }

  .sipher-reviews {
    width: 1440px;
    height: 472px;
    padding: 90px 352px 0 160px;
    background-image: url("/img/reviews/Reviews\ \(1\).png");
  }
  .sipher-reviews-list {
    padding-top: 47px;
    padding-bottom: 24px;
  }

  .sipher-reviews-item {
    margin: 0 16px;
    background-image: url("/img/reviews/Review\ card.png");
    width: 448px;
    height: 105.00010681152344px;
    padding: 15px 0 0 8px;
  }

  .sipher-reviews-text-bold {
    font-family: Unbounded;
    font-weight: 900;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0%;

    padding-bottom: 10px;
  }

  .sipher-reviews-text {
    font-family: Dosis;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;

    height: 54px;
    color: rgba(255, 255, 255, 1);
  }
}

.sipher-faq {
  padding: 48px 16px 0px;
  margin: auto;
  width: 375px;
  height: 1082px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-image: url("/img/FAQ.png");
}

.sipher-faq-container {
  padding-top: 54px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.sipher-faq-question {
  font-family: Unbounded;
  font-weight: 900;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0%;
  color: rgba(11, 11, 11, 1);
}

.sipher-faq-answer {
  font-family: Dosis;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  color: rgba(0, 0, 0, 1);
  padding-top: 4px;
}

@media screen and (min-width: 1200px) {
  .sipher-faq {
    padding: 90px 160px 0;
    width: 1440px;
    height: 685px;
    background-image: url("/img/FAQ\ \(1\).png");
  }
  .sipher-faq-container {
    padding-top: 45px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .sipher-faq-question {
    font-family: Unbounded;
    font-weight: 900;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0%;
  }

  .sipher-faq-answer {
    font-family: Dosis;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
    padding-top: 8px;
  }
}
.sipher-features {
  width: 375px;
  height: 1328px;
  margin: auto;
  background-image: url("/img/Game\ Features.png");
  padding: 48px 16px 0px;
}

.sipher-features-list {
  padding-top: 54px;
  display: flex;
  flex-direction: column;
  gap: 53px;
}

.sipher-features-text-bold {
  font-family: Unbounded;
  font-weight: 900;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0%;
}

.sipher-features-text {
  font-family: Dosis;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  padding-top: 6px;
}

@media screen and (min-width: 1200px) {
  .sipher-features {
    width: 1440px;
    height: 704px;
    background-image: url("/img/Game\ Features\ \(1\).png");
    padding: 90px 160px;
  }
  .sipher-features-list {
    padding-top: 54px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 128px;
    row-gap: 48px;
  }
  .sipher-features-item {
    width: 352px;
  }
  .sipher-features-text-bold {
    font-family: Unbounded;
    font-weight: 900;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0%;
  }

  .sipher-features-text {
    font-family: Dosis;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;

    padding-top: 8px;
  }
}

.sipher-policy-terms-container {
  padding: 120px 16px 40px;
  width: 375px;
  margin: auto;
  font-family: Dosis;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
}

.sipher-policy-terms-title {
  font-family: Unbounded;
  font-weight: 900;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0%;
}

.sipher-policy-terms-text {
  padding-top: 20px;
  font-family: Dosis;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  letter-spacing: 0%;
}

.sipher-policy-terms-texts {
  padding-top: 8px;
}

.sipher-policy-terms-text-one {
  padding-top: 20px;
}

.sipher-terms-list {
  list-style-type: disc;
  padding: 20px 0 20px 25px;
  display: flex;
  flex-direction: column;
}

.sipher-terms-lists {
  list-style-type: disc;
  padding-left: 25px;
}

.sipher-email-link {
  color: inherit;
  text-decoration: none;
}

.sipher-email-link-color {
  color: inherit;
  text-decoration: none;
}

@media screen and (min-width: 1200px) {
  .sipher-policy-terms-container {
    padding: 160px 160px 80px;
    width: 1440px;
    font-family: Dosis;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .sipher-policy-terms-title {
    font-family: Unbounded;
    font-weight: 900;
    font-size: 36px;
    line-height: 120%;
    letter-spacing: 0%;
  }

  .sipher-policy-terms-text {
    padding-top: 40px;
    font-family: Dosis;
    font-weight: 700;
    font-size: 26px;
    line-height: 130%;
    letter-spacing: 0%;
  }

  .sipher-policy-terms-text-one {
    padding-top: 30px;
  }

  .sipher-terms-list {
    padding: 20px 0 20px 25px;
  }
}
.sipher-footer {
  width: 375px;
  margin: auto;
  color: #ffffff;
  width: 375px;
  height: 217px;
  padding-top: 40px;
  padding-right: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
  background-image: url("/img/Footer.png");
}

.sipher-footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.sipher-footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.sipher-footer-text {
  text-decoration: none;
  color: #ffffff;
  font-family: Dosis;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}

.sipher-footer-copyright {
  font-family: Dosis;
  font-weight: 400;
  font-size: 11px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .sipher-footer {
    width: 1440px;
    height: 141px;
    padding-top: 40px;
    background-image: url("/img/Footer\ \(1\).png");
    padding-bottom: 16px;
  }

  .sipher-footer-container {
    gap: 40px;
  }

  .sipher-footer-wrapper {
    display: flex;
    flex-direction: row;
    gap: 36px;
  }

  .sipher-footer-text {
    font-family: Dosis;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
  }

  .sipher-footer-copyright {
    font-family: Dosis;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
  }
}

.sipher-cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 375px;
  padding: 32px;
  background: rgba(124, 0, 255, 1);

  z-index: 1000;
  display: none;
}

.sipher-cookie-popup-text-two {
  font-family: Unbounded;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;

  color: rgba(241, 238, 233, 1);
}

.sipher-cookie-button-container {
  padding: 40px 0 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.sipher-cookie-button {
  border: none;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 1);
  width: 256px;

  border-radius: 28px;
  padding-top: 16px;

  padding-bottom: 16px;
  font-family: Unbounded;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  color: rgba(255, 255, 255, 1);
}

#accept-cookies {
  background: rgba(255, 255, 255, 1);
  color: rgba(11, 11, 11, 1);
}

.sipher-close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .sipher-cookie-popup-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .sipher-cookie-popup-text-two {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: left;
    width: 662px;
  }

  .sipher-cookie-button-container {
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 32px;
  }

  .sipher-cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1440px;
    padding: 32px 50px;
    display: none;
  }
}
